{
    "semi": false,
    "tabWidth": 2,
    "eslintIntegration": false,
    "singleQuote": true,
    "printWidth": 220,
    "trailingComma": "all",
    "useTabs": false,
    "bracketSpacing": true,
    "bracketSameLine": true,
    "proseWrap": "preserve",
    "vueIndentScriptAndStyle": false,
    "endOfLine": "lf",
    "htmlWhitespaceSensitivity": "ignore",
    "singleAttributePerLine": false
}